/*
font-family: 'Comfortaa', sans-serif;

*/
* {
	box-sizing: border-box;
}

html {
	scroll-padding-top: 120px; /* for link on page */
}

body {
	margin: 0;
	display: flex;
	justify-content: center;
	width: 100%;
	padding-top: 100px;
	font-family: "Comfortaa", sans-serif;
	line-height: 1, 5em;
}

#root {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80%;
	font-size: 24px;
}

a {
	text-decoration: none;
	cursor: pointer;
	color: inherit;
}

h2 {
	color: #c45911;
}

.container {
	display: flex;
	font-size: 20px;
}

header {
	position: fixed;
	top: 0;
	height: 100px;
	width: 100%;
	margin: auto;
	padding: 0px 30px;
	background-color: rgb(109, 65, 51);
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}

.logo {
	height: 100%;
	margin-right: 50px;
}

header a {
	position: relative;
	color: white;
	display: block;
	padding: 40px;
	letter-spacing: 1px;
	font-weight: 700;
	font-size: 18px;
}

header a::after {
	opacity: 0;
	background: #cfb46d;
	position: absolute;
	bottom: 3px;
	height: 4px;
	left: 8px;
	right: 8px;
	z-index: 10;
	transition: opacity 0.3s;
	content: "";
}

header a:hover::after {
	opacity: 1;
}

.full-img {
	width: 100%;
	max-width: 700px;
}

.table {
	display: table;
	margin: 0 0 40px 0;
	width: 100%;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	font-size: 20px;
	font-weight: bold;
}

.row {
	display: table-row;
	color: #000;
	background: #f6f6f6;
	outline: #1f1f1f;
}
.row:nth-of-type(odd) {
	background: #e9e9e9;
}

#services-table .cell:nth-child(2) {
	background: #ffc5c5;
}

#services-table .cell:nth-child(3) {
	background: #c8eccb;
}

.row.header {
	font-weight: 900;
	text-align: center;
	background: #fbceb1;
	color: #6c0e0e;
}

.row.header.dark {
	background: #ffe7aa;
	color: #614029;
}

.cell {
	padding: 6px 12px;
	display: table-cell;
}

.cell.top {
	background: #fff2cc;
}

.row:nth-of-type(odd) .cell.top {
	background: #fae3c0;
}

.table.yellow .row {
	background: #ffe7aa;
	color: #614029;
}

.table.yellow .row:nth-child(even) {
	background: #ffe49e;
	color: #4d2f1a;
}

.table.apricot .row {
	background: #fbceb1;
	color: #6c0e0e;
}

.table.apricot .cell,
.table.yellow .cell {
	border: 2px solid #000;
}

.overlap {
	width: 40px;
	height: 40px;
}

.info {
	width: 70%;
	text-align: center;
	color: #833c0b;
}

.info p {
	margin: 10px 0 40px 0;
}

.info h2,
.info h3 {
	margin-bottom: 0;
}

hr {
	height: 2.5px;
	background-color: black;
	width: 100%;
	margin-top: 25px;
}

#contacts {
	color: #833c0b;
}

@media screen and (max-width: 900px) {
	.table {
		display: block;
	}

	.row {
		padding: 14px 0 7px;
		display: block;
	}

	.cell {
		padding: 2px 16px;
		display: block;
	}
	.container {
		display: flex;
		font-size: 15px;
	}

	#root {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 80%;
		font-size: 18px;
	}
}

@media screen and (max-width: 840px) {
	.logo {
		margin-right: 10px;
	}

	header a {
		padding: 10px;
	}
	.container {
		display: flex;
		font-size: 15px;
	}
}

@media screen and (max-width: 445px) {
	header a {
		display: none;
	}
	.container {
		display: flex;
		font-size: 15px;
	}
}
